Language: Cpp
BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 120
FixNamespaceComments: false
UseTab: Never
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
AllowShortFunctionsOnASingleLine: false
NamespaceIndentation: All
AccessModifierOffset: -4
BreakConstructorInitializers: BeforeComma
ConstructorInitializerAllOnOneLineOrOnePerLine: false
