Language: Cpp
BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 0
FixNamespaceComments: false
UseTab: Never
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
NamespaceIndentation: All
AccessModifierOffset: -4
